:root {
	--beige: #eae2b7;
	--dark_blue: #003049;
	--orange: #f77f00;
	--red: #d62828;
	--light_orange: #fcbf49;

}
body {
	height: 100%;
	margin: 0;

}

@media only screen and (max-width: 600px){

}

.main_wrapper {
	height: 100vh;
	background-color: var(--beige);

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 8fr;
	row-gap: 4em;
}

.Header {
	background-color: var(--dark_blue);
	color: var(--orange);

	display: flex;
	align-items: center;
	justify-content:center;
}

#title {
	background-color: var(--dark_blue);
	color: var(--orange);
	
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 3.5em;
}

.Body {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	justify-items: stretch;
}

#cont1 {
	margin-left: 2em;
	margin-bottom: 3em;
	background-color: var(--dark_blue);
	color: var(--orange);

	display: flex;
	align-items: center;
	justify-content: center;
}

#link {
	place-self: center;
	color: var(--red);

	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 3.5em;
}

#cont2 {
	margin-right: 2em;
	margin-bottom: 4em;
	background-color: var(--dark_blue);
	color: var(--orange);

	display: flex;
	align-items: center;
	justify-content: center;
}

.body_text {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 4em;

}

/*end of page 1*/

.wrapper2 {
	background-color: var(--dark_blue);
	height: 100vh;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 2fr;
	justify-items:stretch;
	row-gap: 6em;
}

#data_title {
	background-color: var(--beige);
	color: var(--orange);
	margin-top: 4em;
	margin-left: 35%;
	margin-right: 35%;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5em;
	align-items: center;
	justify-content: center;
}

#data_box {
	background-color: var(--beige);
	color: var(--red);
	margin-bottom: 4em;
	margin-left: 25%;
	margin-right: 25%;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5em;
	align-items: center;
	justify-content: center;
}