:root {
	--beige: #eae2b7;
	--dark_blue: #003049;
	--orange: #f77f00;
	--red: #d62828;
	--light_orange: #fcbf49;

}
body {
	background-color: var(--beige);


}

@media only screen and (max-width: 600px){

}