:root {
	--beige: #eae2b7;
	--dark_blue: #003049;
	--orange: #f77f00;
	--red: #d62828;
	--light_orange: #fcbf49;

}
body {
	background-color: var(--beige);


}

@media only screen and (max-width: 600px){

}

.main_wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

.Title {
	grid-column: 1;
	grid-row: 1/2;
}

.Body {
	grid-column: 1;
	grid-row: 2;
}